* {
    font-family: "Poppins";
    color: white;
}
body {
    background-color: #d9dddc;
}
.introduction-p {
    color: black;
    font-size: 16px;
    text-align: justify;
}
.info-card {
    position: absolute;
    right: 8px;
    top: 2px;
}
/* The Modal (background) */
.modal-feedback {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    z-index: 99999;
}

/* Modal Content/Box */
.modal-content-feedback {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    z-index: 9999999;
    max-height: 700px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.card {
    background: #27293d;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 0 0 #404a4c;
    -moz-box-shadow: 0px 7px 0 0 #404a4c;
    box-shadow: 0px 7px 0 0 #404a4c;
    min-height: 200px;
    border-radius: 0 !important;
    border: none !important;
}
svg#Feedback {
    width: 50px;
}
.feedback-class {
    position: fixed;
    left: 10px;
    bottom: 10px;
}
.feedback-class:hover {
    cursor: pointer;
}
@media (max-width: 767px) {
    .feedback-class {
        display: none;
    }
    .nav-item-left {
        text-align: left !important;
    }
    .a-nav-right {
        position: relative;
        right: 10px;
    }
    .a-bat {
        top: 30px;
    }
    #modalLoginForm {
        z-index: 9999;
    }

    article h3 {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    section header {
        text-align: center;
    }
}
.modal-body.mx-3 {
    display: grid;
}
#Capa_1 {
    transform: rotate(90deg);
    z-index: 9;
}
.btn-import-excel.attributes {
    margin-top: 10px !important;
}
.modal-title {
    position: relative;
    left: 20px;
}
a.nav-link.navbar-brand.a-nav-right {
    padding-left: 0 !important;
}
label {
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: 600;
}
.modal-footer {
    border-top: none !important;
}
.input-excel {
    margin: 0 auto;
}
select {
    -webkit-box-shadow: 3px 3px 0 0 rgb(51 50 52);
    -moz-box-shadow: 3px 3px 0 0 rgba(51, 50, 52, 1);
    box-shadow: 3px 3px 0 0 rgb(51 50 52);
}
.mid-choose-buttons {
    text-align: center;
    margin-bottom: 20px;
}
#DemographicsCard {
    display: none;
}
#dataset-show {
    display: none;
}
.form-control {
    background-color: #e5e8e8;
}
.btn-import-excel {
    background: #e5e8e8;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 60px;
    color: #333234;
    text-transform: uppercase;
    margin: 40px auto 20px;
    display: block;
    border: 2px solid #333234;
    -webkit-box-shadow: 6px 7px 0 0 rgb(51 50 52);
    -moz-box-shadow: 6px 7px 0 0 rgba(51, 50, 52, 1);
    box-shadow: 6px 7px 0 0 rgb(51 50 52);
    transition: 300ms ease-in-out;
}
.btn-import-excel:hover {
    background: lightgrey;
}
.card-body {
    background: #e5e8e8;
    color: black;
    z-index: 9;
}
.top-bar {
    background-color: #404a4c !important;
}

.nav-item-left {
    text-align: right;
}

.navbar-brand {
    padding-right: 20px;
    font-size: 22px !important;
}
.navbar-brand:hover {
    color: antiquewhite !important;
}
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: black;
    color: white;
    border: none !important;
    box-shadow: none !important;
}
.card-text {
    color: black;
    min-height: 55px;
}

.bi-arrow-right {
    top: -1px;
    position: relative;
}
.btn-primary {
    width: 50%;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 0;
    -webkit-box-shadow: 6px 7px 0 0 #404a4c;
    -moz-box-shadow: 6px 7px 0 0 #404a4c;
    box-shadow: 6px 7px 0 0 #404a4c;
    transition: 300ms ease-in-out;
}
.btn-primary:hover {
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
}

.btn-primary:hover svg {
    fill: black;
}
button#ScrollToTop {
    width: 80px;
    height: 80px;
    background: transparent;
    border: none;
    position: fixed;
    left: 20px;
    z-index: 99999;
}
#ScrollToTop {
    display: none;
    outline: none;
}
#ScrollToTop:active {
    border: none;
}
#ScrollToTop:focus {
    border: none;
}
#ScrollToTop:hover {
    cursor: pointer;
}
#svg_to_top {
    width: 80px;
    height: 80px;
    fill: #62b49c;
    position: fixed;
    left: 20px;
    bottom: 10px;
    z-index: 99999;
}
