*{
    font-family: "Poppins";
    color: white;
}
body {
    background-color: white;
}
.introduction-p{
    color: black;
}
.info-card{
    position: absolute;
    right: 8px;
    top: 2px;
}
.card{
    background: #27293d;
    border: 0;
    border-radius: 0.2857rem;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0px rgb(0 0 0 / 10%)
}
.card-body{
    background: radial-gradient(black, transparent);
    -webkit-box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 86%);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.86);
    box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 86%)
}
.bg-dark {
    background-color: #343a40!important;
    background: radial-gradient(black, transparent);
}
.navbar-brand{
    padding-right: 20px;
    font-size: 22px !important;
}
.navbar-brand:hover{
    color: antiquewhite !important;
}
.btn-primary.focus, .btn-primary:focus{
    box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: black;
    color: white;
    border: none !important;
    box-shadow: none !important;
}


.bi-arrow-right{
    top: -1px;
    position: relative;
}
.btn-primary{
    width: 50%;
    background-color: transparent;
    border: 1px solid white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-primary:hover{
    background-color: black;
    border: 1px solid black;
}
